.row
  .col
    = form.input :club_id_eq, collection: Tfc::Mdm::Club.all, label_method: :human
  .col
    = form.input :firstname_cont, association: :person
  .col
    = form.input :lastname_cont, association: :person
  .col
    = form.input :category_id_eq, collection: Tfc::Mdm::Memberships::Category.all, label_method: :human
